<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/images/slide/01.webp" class="d-block w-100" alt="Slide 1" height="300">
    </div>
    <div class="carousel-item">
      <img src="assets/images/slide/02.webp" class="d-block w-100" alt="Slide 2" height="300">
    </div>
    <div class="carousel-item">
      <img src="assets/images/slide/03.webp" class="d-block w-100" alt="Slide 3" height="300">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container mt-5">
  <div class="text-center">
    <h1 class="display-4 mb-3">อุปกรณ์ IoT ที่ใช้ทำชิ้นงาน</h1>
    <h3 class="mb-5">ระบบรดน้ำอัตโนมัติโดยใช้พลังงานแสงอาทิตย์</h3>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <div class="col">
        <div class="card h-100 shadow-sm border-light">
          <img src="assets/images/product/ESP32.webp" class="card-img-top" alt="ESP32">
          <div class="card-body">
            <h5 class="card-title">ESP32</h5>
            <p class="card-text">ESP32 คือ wifi microcontroller ที่ถูกพัฒนาต่อจาก ESP8266 โดยเพิ่ม CPU เป็น 2 core, Wi-Fi ที่เร็วขึ้น, มีขา GPIO ให้ใช้งานมากขึ้น และรองรับ Bluetooth อีกด้วย  นอกจากนี้ ESP32 ยังมาพร้อมกับ touch-sensitive pins ที่สามารถใช้ปลุก ESP32 จากโหมด deep sleep และยังมี hall effect sensor และ temperature sensor ในตัว (รุ่นล่าสุดของ ESP32 ไม่มี temperature sensor ในตัวอีกแล้ว)</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 shadow-sm border-light">
          <img src="assets/images/product/Relay.webp" class="card-img-top" alt="Relay">
          <div class="card-body">
            <h5 class="card-title">Relay</h5>
            <p class="card-text">รีเลย์ (Relay) คือ สวิตช์ไฟฟ้าที่ใช้แม่เหล็กไฟฟ้าในการเปิดหรือปิดหน้าสัมผัสอย่างน้อยหนึ่งหน้าสัมผัส ซึ่งเป็นส่วนประกอบสำคัญในระบบไฟฟ้าและอิเล็กทรอนิกส์ มักใช้ในการควบคุมวงจรกำลังไฟสูงด้วยสัญญาณกำลังต่ำ</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 shadow-sm border-light">
          <img src="assets/images/product/Solar.webp" class="card-img-top" alt="Solar cell">
          <div class="card-body">
            <h5 class="card-title">Solar cell</h5>
            <p class="card-text">เป็นอุปกรณ์อิเล็กทรอนิกส์ที่ทำจากสารกิึ่งตัวนำ ที่มีความสามารถในการแปลงพลังงานแสงอาทิตย์ที่ตกกระทบตัวสารกิึ่งตัวนำเพื่อเปลี่ยนมาเป็นพลังงานไฟฟ้ากระแสตรง (DC current) ซึ่งเอานำมาใช้งานกับอุปกรณ์ไฟฟ้าทีเราได้ดำเนินการต่อกับระบบโซล่าเซลล์ของเราได้</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 shadow-sm border-light">
          <img src="assets/images/product/earth.webp" class="card-img-top" alt="เซ็นเซอร์วัดค่า PH ในดิน">
          <div class="card-body">
            <h5 class="card-title">เซ็นเซอร์วัดค่า PH ในดิน</h5>
            <p class="card-text">เป็นอุปกรณ์ที่เกษตรกร ชาวสวนและผู้เชี่ยวชาญด้านการเกษตรใช้เพื่อวัดความเป็นกรดหรือด่างของดิน การปรับ pH ของดินให้ถูกต้องเป็นสิ่งจำเป็นหากคุณต้องการผลิตพืชที่แข็งแรงและมีชีวิตชีวา</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 shadow-sm border-light">
          <img src="assets/images/product/PH.webp" class="card-img-top" alt="เซ็นเซอร์วัดค่า PH">
          <div class="card-body">
            <h5 class="card-title">เซ็นเซอร์วัดค่า PH</h5>
            <p class="card-text">เครื่องมือวัดค่ากรด-ด่างหรือ pH meter คือเครื่องมือทางวิทยาศาสตร์ที่ใช้ในการวัดความเป็นกรดหรือด่าง (พีเอช) ของของเหลวหรือสารละลาย ค่าพีเอชตั้งแต่ 0 ถึง 14 โดยที่ 7 เป็นกลาง สารละลายที่มีค่าน้อยกว่า 7 ถือว่าเป็นกรด</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
